* {
	margin:0px;
	padding:0px;
	font-family:"ArMT";
	word-wrap:break-word;
	table-layout:fixed;
	word-break:break-all;
	box-sizing:border-box;
	font-size:16px;
}
@font-face {
	font-family:'ArMT';
	src:url('/images/ArialRoundedMTBold.eot');
	src:url('/images/ArialRoundedMTBold.eot?#iefix') format('embedded-opentype'),
		url('/images/ArialRoundedMTBold.woff2') format('woff2'),
		url('/images/ArialRoundedMTBold.woff') format('woff'),
		url('/images/ArialRoundedMTBold.ttf') format('truetype');
}
img {
	border:0px;
}
.lefter {
	float:left;
}
.righter {
	float:right;
}
ul li {
	list-style:none;
}
input,button,select,textarea {
	outline:0;
	border:0;}
::-webkit-input-placeholder {
	color:#404040;
}

/*******************************************************************/

body {
	margin:0 auto;
	background-color:#202020;
	background-image:url("/images/bg.png");
	background-size:128px;
	color:#808080;
}
a {
	color:#fff;
	text-decoration:none;
	transition:.2s;
}
a:hover {
	color:#FF3597;
}

/*******************************************************************/

div {
	margin:auto;
}

/*******************************************************************/

#header {
	clear:both;
	text-align:center;
	min-width:628px;
	padding:48px 0;
}
#header h1 {
	margin:auto;
	width:128px;
	height:128px;
	background:center/128px url("/images/LOGO.png");
}
#header h1 a {
	display:block;
	width:100%;
	height:128px;
}
#header span {
	display:block;
	margin:8px auto 48px auto;
	width:200px;
	height:40px;
	background:center/200px url("/images/sub-LOGO.png");
}
#header .nav {
	display:inline-block;
	vertical-align:middle;
	width:64px;
	height:64px;
}
#header .nav a {
	display:block;
	border-radius:16px;
	width:100%;
	height:64px;
	background-position:center;
	background-repeat:no-repeat;
	background-size:24px;
	background-image:url("/images/Icon-Home.png");
	background-color:#101010;
}
#header .nav a:hover {
	background-color:#202020;
}
#header .tags a {
	background-image:url("/images/Icon-Tags.png");
}

#header .search {
	display:inline-block;
	vertical-align:middle;
	margin:0 24px;
	width:452px;
	height:64px;
	border-radius:16px;
	background:#101010;
	overflow:hidden;
	position:relative;
}
#header .search input {
	display:block;
	width:100%;
	height:64px;
	line-height:64px;
	text-align:center;
	font-size:16px;
	color:#404040;
	background:#101010;
	border-radius:16px;
	font-weight:bold;
	transition:.2s;
}
#header .search input:focus {
	background:#202020;
	color:#FFF;
}
#header .search button {
	width:24px;
	height:24px;
	background:center/24px url("/images/Icon-Search.png");
	position:absolute;
	top:20px;
	right:24px;
	cursor:pointer;
}

/*******************************************************************/

#main {
	clear:both;
	max-width:1280px;
	min-width:628px;
}
#main h2 {
	margin:0 auto 48px auto;
	height:48px;
	line-height:24px;
	font-size:24px;
	color:#fff;
	text-align:center;
	background:center bottom/24px no-repeat url("/images/bg-h2.png");
}
#main h2 a {
	font-size:24px;
	color:#FF3597;
}
#main h2 a:hover {
	color:#FFF;
}
#main h3 {
	margin-top:48px;
	height:48px;
	line-height:16px;
	color:#fff;
	text-align:center;
	font-weight:bold;
	background:center bottom/24px no-repeat url("/images/bg-h2.png");
}
#main .item {
	float:left;
	margin:0 24px 24px 0;
	padding:24px;
	width:302px;
	height:260px;
	border-radius:16px;
	background:#101010;
	overflow:hidden;
	transition:.2s;
}
#main .item:hover {
	background:#0c0c0c;
}
#main .item:nth-of-type(4n) {
	margin:0 0 24px 0;
}
#main .item-bg {
	width:302px;
	height:140px;
	background-position:center;
	background-size:200%;
	position:relative;
	top:-24px;
	left:-24px;
	-webkit-filter: blur(50px);
	-moz-filter: blur(50px);
	-o-filter: blur(50px);
	-ms-filter: blur(50px);
	filter: blur(50px);
	opacity:.08;
}
#main .item a.u,#main .item a.a,#main .item span {
	position:relative;
	top:-140px;
}
#main .item a.u {
	display:block;
	width:48px;
	height:48px;
	margin:0 0 24px 0;
	border-radius:8px;
	overflow:hidden;
	background-position:center;
	background-repeat:no-repeat;
	background-size:48px;
}
#main .item a.a {
	font-size:24px;
	color:#fff;
}
#main .item a.a:hover {
	color:#FF3597;
}
#main .item span.desc {
	display:block;
	height:48px;
	line-height:24px;
	margin:20px 0 24px 0;
}
#main .item span.tags a {
	color:#404040;
	margin-right:8px;
}
#main .item span.tags a:hover {
	color:#fff;
}
#main .item-tags {
	float:left;
	margin:0 24px 24px 0;
	padding:24px;
	width:302px;
	border-radius:16px;
	background:#101010;
	transition:.2s;
}
#main .item-tags:hover {
	background:#0c0c0c;
}
#main .item-tags:nth-of-type(4n) {
	margin:0 0 24px 0;
}
#main .item-tags .lefter {
	height:44px;
}
#main .item-tags .lefter a {
	font-size:24px;
	line-height:24px;
	color:#fff;
}
#main .item-tags .lefter a:hover {
	color:#FF3597;
}
#main .item-tags .lefter a span {
	display:block;
	padding-top:12px;
	font-size:12px;
	line-height:12px;
	color:#404040;
	text-transform:uppercase;
}
#main .item-tags .lefter a:hover span {
	color:#808080;
}
#main .item-tags .righter {
	font-size:64px;
	line-height:44px;
	color:#fff;
	opacity:.16;}

/*******************************************************************/

#main .wrap {
	width:628px;
	padding:48px;
	background:#101010;
	border-radius:16px;
}
#main .wrap-thumb {
	display:block;
	width:96px;
	height:96px;
	background-position:center;
	background-repeat:no-repeat;
	background-size:96px;
	border-radius:16px;
}
#main .wrap-content {
	margin-top:48px;
}
#main .wrap-content-list {
	padding-bottom:32px;
}
#main .wrap-content-list li {
	clear:both;
	overflow:hidden;
	line-height:32px;
	margin-bottom:16px;
}
#main .wrap-content-list li.desc {
	color:#FFF;
	font-weight:bold;
	background:left top/56px no-repeat url("/images/content-desc.png");
	padding-left:56px;
}
#main .wrap-content-list li::before {
	color:#404040;
	width:56px;
	float:left;
}
#main .wrap-content-list li.desc::before {
	content:"";
}
#main .wrap-content-list li.desc img {
	display:block;
	width:100%;
	border-radius:8px;
	margin-top:16px;
}
#main .wrap-content-list li.tags::before {
	content:"标签";
}
#main .wrap-content-list li.views::before {
	content:"访问";
}
#main .wrap-content-list li.author::before {
	content:"大拿";
}
#main .wrap-content-list li.update::before {
	content:"更新";
}
#main .wrap-content-list li.tags a {
	color:#FF3597;
	margin-right:8px;
}
#main .wrap-content-list li.tags a:hover {
	color:#FFF;
}
#main .wrap-content a.link {
	display:block;
	height:64px;
	line-height:64px;
	background:#FF3597;
	color:#FFF;
	text-align:center;
	font-weight:bold;
	border-radius:8px;
}
#main .wrap-content a.link:hover {
	background:rgba(255,53,151,.8);
}
#main .wrap-content a.link i {
	transition:.2s;
	display:inline-block;
	width:16px;
	height:16px;
	margin-left:4px;
	background:center/16px no-repeat url("/images/Icon-Link.png");
}
#main .wrap-content a.link:hover i {
	margin-left:8px;
}
#main .wrap-content a.sub-link {
	margin-top:24px;
	background:#181818;
}
#main .wrap-content a.sub-link:hover {
	background:#202020;
}
#main .wrap hr {
	border:1px #181818 solid;
	margin-bottom:24px;
}

/*******************************************************************/

#main .wrap-page {
	clear:both;
	margin:auto;
	width:628px;
	text-align:center;
}
#main .wrap-page li {
	display:inline-block;
	height:64px;
	line-height:64px;
}
#main .wrap-page li a {
	display:block;
	padding:0 16px;
}
#main .wrap-page li.active a {
	color:#FF3597;
}
#main .wrap-page li.active a:hover {
	color:#FFF;
}

/*******************************************************************/

#main .respond form input {
	float:left;
	width:100%;
	height:64px;
	line-height:64px;
	border-radius:8px;
	background-color:#181818;
	background-repeat:no-repeat;
	background-size:16px;
	background-position:24px;
	padding-left:52px;
	color:#808080;
}
#main .respond form input:focus {
	background-color:#202020;
	color:#FFF;
}
#main .respond form input.user {
	background-image:url("/images/Icon-Comment-Avatar.png");
	width:100%;
}
#main .respond form input.guest {
	width:254px;
}
#main .respond form input.mail {
	background-image:url("/images/Icon-Comment-Email.png");
	width:254px;
	margin-left:24px;
}
#main .respond form textarea {
	background:24px 24px/16px no-repeat url("/images/Icon-Comment-Type.png") #181818;
	border-radius:8px;
	width:100%;
	height:88px;
	line-height:24px;
	float:left;
	color:#808080;
	padding:20px 0 20px 52px;
	margin:24px 0;
	resize:none;
}
#main .respond form textarea:focus {
	background-color:#202020;
	color:#FFF;}
#main .respond form button {
	display:block;
	width:100%;
	height:64px;
	line-height:64px;
	text-align:center;
	font-weight:bold;
	border-radius:8px;
	background:#181818;
	color:#FFF;
	cursor:pointer;
}
#main .respond form button:hover {
	background:#202020;
}

/*******************************************************************/

#main .comments {
	margin-top:48px;
}
#main .comment-list li {
	display:block;
	padding:48px 0 0 0;
}
#main .comment-list li span {
	display:block;
	padding:8px 8px 8px 28px;
	line-height:24px;
	background-size:16px;
	background-repeat:no-repeat;
	background-position:0 12px;
}
#main .comment-list li span.id {
	background-image:url("/images/Icon-Comment-Flor.png");
}
#main .comment-list li span.author {
	color:#fff;
	background-image:url("/images/Icon-Comment-Avatar.png");
}
#main .comment-list li span.author a {
	color:#FF3597;
}
#main .comment-list li span.author a:hover {
	color:#FFF;
}
#main .comment-list li span.comment {
	background-image:url("/images/Icon-Comment-Type.png");
}
#main .comment-list li span i {
	font-style:normal;
	margin-left:12px;
	color:#404040;
}
#main .comment-list li span img {
	display:block;
	max-width:504px;
	border-radius:8px;
}

/*******************************************************************/

#main .status {
	background:center 48px/64px no-repeat url("/images/Icon-Warning.png") #101010;
	padding-top:128px;
	text-align:center;
	line-height:24px;
}

/*******************************************************************/

#main .common {
	line-height:24px;
}
#main .common p {
	margin-bottom:24px;
	color:#a0a0a0;
}
#main .common p strong {
	color:#ff3597;
	margin-right:8px;
}
#main .common p em {
	font-style:normal;
    padding:16px;
    background:#181818;
    display:inline-block;
    border-radius:8px;
    color:#FFF;
}
#main .common p em a {
	color:#FF3597;
}
#main .common p em a:hover {
	color:#FFF;
}
#main .common h2 {
	margin:24px auto;
	height:24px;
	font-size:16px;
	text-align:left;
	background:none;
	color:#ff3597;
}
#main .common h2:first-child {
	margin:0 auto 24px auto;
}

/*******************************************************************/

#footer {
	clear:both;
	min-width:628px;
	padding:48px 0;
	line-height:24px;
	text-align:center;
}
#footer a.fav {
	display:flex;
	margin:0 auto 16px auto;
	width:32px;
	height:32px;
	background:center/32px url("/images/Favicon.png");
}